.v-btn {
	:deep(.v-btn__content) {
		text-transform: none !important;
	}
	:deep(.v-icon) {
		font-size: 1.25rem; // 20px
	}
	&.center-icon {
		:deep(.v-icon) {
			margin: auto;
		}
	}
}
.v-dialog {
	.v-row {
		animation: expand-verticle 400ms ease-out;
	}
	.v-card {
		.v-card-item {
			overflow-y: scroll;
			max-height: calc(100vh - 200px);
		}
	}
}
body > .v-overlay-container .v-menu {
	* {
		font-size: 13px !important;
	}
}
