.v-btn {
	:deep(.v-btn__content) {
		text-transform: none;
	}
	:deep(.v-icon) {
		font-size: 1.25rem; // 20px
	}
	&.center-icon {
		:deep(.v-icon) {
			margin: auto;
		}
	}
}
.v-messages__message,
.error-message {
	&::first-letter {
		text-transform: capitalize;
	}
}
// .v-dialog {
// 	.v-row {
// 		animation: expand-vertical 400ms ease-out;
// 	}
// 	.v-card {
// 		.v-card-item {
// 			overflow-y: scroll;
// 			max-height: calc(100vh - 200px);
// 		}
// 	}
// }
