$header-height: 70px;
$footer-height: 50px;
$sidebar-expand-width: 300px;
$sidebar-collapse-width: 92px;

$primary-color: #ef6c00;
$primary-color-darken: #e65100;
$primary-color-lighten: #ffa726;
$primary-color-lighten-2: #ffe0b2;
$primary-color-lighten-3: #fdf4e5;
$secondary-color: #ffffff;
$screen-color: #f4f4f4;
$text-black: #212121;
$text-black-blur: #515151;

.text-primary {
	color: $primary-color;
}
.text-primary-darken {
	color: $primary-color-darken;
}
.text-primary-lighten {
	color: $primary-color-lighten;
}
.text-primary-lighten-2 {
	color: $primary-color-lighten-2;
}
.text-primary-lighten {
	color: $primary-color-lighten;
}
.text-secondary {
	color: $secondary-color;
}
.text-black {
	color: $text-black;
}
.text-black-blur {
	color: $text-black-blur;
}
.hover-blur {
	opacity: 0.7;
}
