$header-height: 70px;
$footer-height: 50px;
$sidebar-expand-width: 300px;
$sidebar-collapse-width: 92px;
$table-border-radius: 12px;

$primary-color: rgb(var(--v-theme-primary));
$primary-darken-color: rgb(var(--v-theme-primary-darken));
$primary-lighten-color: rgb(var(--v-theme-primary-lighten));
$secondary-color: rgb(var(--v-theme-secondary));
$background-color: rgb(var(--v-theme-background));
$surface-color: rgb(var(--v-theme-surface));
$grey: #363636;

.hover-blur {
	opacity: 0.7;
}
.rounded-12 {
	border-radius: 0.75rem !important;
}
.rounded-16 {
	border-radius: 1rem !important;
}
.small-img-shadow {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border: 0.5px solid rgba(0, 0, 0, 0.08);
}
