$header-height: 70px;
$footer-height: 50px;
$sidebar-expand-width: 300px;
$sidebar-collapse-width: 92px;

$primary-color: #ef6c00;
$primary-color-darken: #e65100;
$primary-color-lighten: #ffa726;
$primary-color-lighten-2: #ffe0b2;
$primary-color-lighten-3: #fdf4e5;
$secondary-color: #ffffff;
$screen-color: #f4f4f4;
$dark-grey: #212121;
$grey: #363636;

.text-primary {
	color: $primary-color;
}
.text-primary-darken {
	color: $primary-color-darken;
}
.text-primary-lighten {
	color: $primary-color-lighten;
}
.text-primary-lighten-2 {
	color: $primary-color-lighten-2;
}
.text-primary-lighten {
	color: $primary-color-lighten;
}
.text-secondary {
	color: $secondary-color;
}
.text-dark-grey {
	color: $dark-grey;
}
.text-grey {
	color: $grey;
}
.hover-blur {
	opacity: 0.7;
}
.rounded-12 {
	border-radius: 0.75rem !important;
}
.rounded-16 {
	border-radius: 1rem !important;
}
.small-img-shadow {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border: 0.5px solid rgba(0, 0, 0, 0.08);
}
