body {
	overflow-x: scroll;
	overflow-y: hidden;
}

.alternative-text {
	text-align: center;
	font-style: italic;
	opacity: 0.5;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

.prevent-event {
	pointer-events: none;
}

.cursor {
	&-pointer {
		cursor: pointer;
	}
}

.opacity {
	@for $i from 0 through 10 {
		&-#{$i} {
			opacity: calc($i / 10);
		}
	}
}

.transition {
	$transition-properties: (
		'all',
		'color',
		'background-color',
		'opacity',
		'transform',
		'max-height'
	);
	@each $property in $transition-properties {
		&-#{$property} {
			transition: #{$property} 0.3s ease;
			&-all {
				transition: #{$property} 0.3s ease;
				* {
					transition: #{$property} 0.3s ease;
				}
			}
		}
	}
}

.text {
	@for $i from 8 through 36 {
		&-#{$i}px {
			font-size: calc($i / 16) * 1rem !important;
		}
	}
}

.line-height {
	@for $i from 8 through 40 {
		&-#{$i}px {
			line-height: calc($i) * 1px !important;
		}
	}
}

.opacity {
	@for $i from 0 through 10 {
		&-#{$i} {
			opacity: calc($i / 10);
		}
	}
}

.font-weight-semibold {
	font-weight: 600 !important;
}

.shadow {
	&-cell-img {
		box-shadow: 0 0 5px #0004 !important;
	}
}

.relative {
	position: relative;
}

.nowrap {
	white-space: nowrap;
}
