* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

html {
	font-family: 'Noto Sans', sans-serif;
	font-size: 100%;
	overflow-y: overlay;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: unset;
}
