* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	transition: background-color 200ms;
}

body {
	height: 100vh;
}

body::-webkit-scrollbar {
	display: none;
}

html {
	font-family: 'Noto Sans', sans-serif !important;
	font-size: 100%;
	overflow-y: overlay;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: unset;
}
